{% extends 'war/base.html' %}
{% block body %}

<div class="background-image"></div>
<div class="container">
    <h1>Transfer Products</h1>
    <br>
    <h2>Conveyor To Storing Places</h2>

    <div class="main-buttons">
        <button onclick="showSubButtons('A')">FROM A</button>
        <button onclick="showSubButtons('C')">FROM C</button>
        <button onclick="showSubButtons('D')">FROM D</button>
        <button onclick="showSubButtons('E')">FROM E</button>
        <button onclick="showSubButtons('F')">FROM F</button>
        <button onclick="showSubButtons('G')">FROM G</button>
        <button onclick="showSubButtons('H')">FROM H</button>
        <button onclick="showSubButtons('I')">FROM I</button>
        <button onclick="showSubButtons('K')">FROM K</button>
        <button onclick="showSubButtons('M')">FROM M</button>
        <button onclick="showSubButtons('P')">FROM P</button>
        <button onclick="showSubButtons('0')">FROM 0</button>
        <button onclick="showSubButtons('N')">FROM N</button>
        <button onclick="showSubButtons('S')">FROM S</button>
        <button onclick="showSubButtons('W')">FROM W</button>
        <button onclick="showSubButtons('V')">FROM V</button>
        <button onclick="showSubButtons('U')">FROM U</button>
    </div>

    <div id="A-buttons" class="sub-buttons">
        <h3>FROM A:</h3>
        <div class="button-grid">
            <button onclick="openModal('A', 'A0')">FROM A STATION TO A0</button>
            <button onclick="openModal('A', 'N')">FROM A STATION TO N</button>
            <button onclick="openModal('A', 'Q')">FROM A STATION TO Q1-Q10</button>
            <button onclick="openModal('A', 'T')">FROM A STATION TO T1-T10</button>
            <button onclick="openModal('A', 'G')">FROM A STATION TO G</button>
            <button onclick="openModal('A', 'X')">FROM A STATION TO X</button>
            <button onclick="openModal('A', 'J')">FROM A STATION TO J</button>
        </div>
    </div>

    <div id="C-buttons" class="sub-buttons">
        <h3>FROM C:</h3>
        <div class="button-grid">
            <button onclick="openModal('C', 'V')">FROM C STATION TO V</button>
            <button onclick="openModal('C', 'H')">FROM C STATION TO H</button>
            <button onclick="openModal('C', 'Q')">FROM C STATION TO Q</button>
            <button onclick="openModal('C', 'T')">FROM C STATION TO T</button>
            <button onclick="openModal('C', 'A0')">FROM C STATION TO A0</button>
            <button onclick="openModal('C', 'X')">FROM C STATION TO X</button>
            <button onclick="openModal('C', 'J')">FROM C STATION TO J</button>
        </div>
    </div>

    <div id="D-buttons" class="sub-buttons">
        <h3>FROM D:</h3>
        <div class="button-grid">
            <button onclick="openModal('D', 'A0')">FROM D STATION TO A0</button>
            <button onclick="openModal('D', 'Y')">FROM D STATION TO Y1-Y8</button>
            <button onclick="openModal('D', 'J')">FROM D STATION TO J</button>
        </div>
    </div>

    <div id="E-buttons" class="sub-buttons">
        <h3>FROM E:</h3>
        <div class="button-grid">
            <button onclick="openModal('E', 'A0')">FROM E STATION TO A0</button>
            <button onclick="openModal('E', 'Y')">FROM E STATION TO Y1-Y8</button>
            <button onclick="openModal('E', 'T')">FROM E STATION TO T1-T10</button>
            <button onclick="openModal('E', 'H')">FROM E STATION TO H</button>
            <button onclick="openModal('E', 'R')">FROM E STATION TO R</button>
            <button onclick="openModal('E', 'X')">FROM E STATION TO X</button>
            <button onclick="openModal('E', 'J')">FROM E STATION TO J</button>
        </div>
    </div>

    <div id="F-buttons" class="sub-buttons">
        <h3>FROM F:</h3>
        <div class="button-grid">
            <button onclick="openModal('F', 'A0')">FROM F STATION TO A0</button>
            <button onclick="openModal('F', 'Y')">FROM F STATION TO Y1-Y8</button>
            <button onclick="openModal('F', 'Q')">FROM F STATION TO Q1-Q10</button>
            <button onclick="openModal('F', 'T')">FROM F STATION TO T1-T10</button>
            <button onclick="openModal('F', 'H')">FROM F STATION TO H</button>
            <button onclick="openModal('F', 'X')">FROM F STATION TO X</button>
            <button onclick="openModal('F', 'J')">FROM F STATION TO J</button>
            <button onclick="openModal('F', 'Z')">FROM F STATION TO Z1-Z10</button>
        </div>
    </div>

    <div id="G-buttons" class="sub-buttons">
        <h3>FROM G:</h3>
        <div class="button-grid">
            <button onclick="openModal('G', 'A0')">FROM G STATION TO A0</button>
            <button onclick="openModal('G', 'Y')">FROM G STATION TO Y1-Y8</button>
            <button onclick="openModal('G', 'Q')">FROM G STATION TO Q1-Q10</button>
            <button onclick="openModal('G', 'T')">FROM G STATION TO T1-T10</button>
            <button onclick="openModal('G', 'H')">FROM G STATION TO H</button>
            <button onclick="openModal('G', 'X')">FROM G STATION TO X</button>
            <button onclick="openModal('G', 'J')">FROM G STATION TO J</button>
            <button onclick="openModal('G', 'Z')">FROM G STATION TO Z1-Z10</button>
        </div>
    </div>

    <div id="H-buttons" class="sub-buttons">
        <h3>FROM H:</h3>
        <div class="button-grid">
            <button onclick="openModal('H', 'A0')">FROM H STATION TO A0</button>
            <button onclick="openModal('H', 'Y')">FROM H STATION TO Y1-Y8</button>
            <button onclick="openModal('H', 'Q')">FROM H STATION TO Q1-Q10</button>
            <button onclick="openModal('H', 'T')">FROM H STATION TO T1-T10</button>
            <button onclick="openModal('H', 'H')">FROM H STATION TO H</button>
            <button onclick="openModal('H', 'X')">FROM H STATION TO X</button>
            <button onclick="openModal('H', 'J')">FROM H STATION TO J</button>
            <button onclick="openModal('H', 'Z')">FROM H STATION TO Z1-Z10</button>
        </div>
    </div>

    <div id="I-buttons" class="sub-buttons">
        <h3>FROM I:</h3>
        <div class="button-grid">
            <button onclick="openModal('I', 'A0')">FROM I STATION TO A0</button>
            <button onclick="openModal('I', 'Y')">FROM I STATION TO Y1-Y8</button>
            <button onclick="openModal('I', 'Q')">FROM I STATION TO Q1-Q10</button>
            <button onclick="openModal('I', 'T')">FROM I STATION TO T1-T10</button>
            <button onclick="openModal('I', 'Z')">FROM I STATION TO Z1-Z10</button>
        </div>
    </div>

    <div id="K-buttons" class="sub-buttons">
        <h3>FROM K:</h3>
        <div class="button-grid">
            <button onclick="openModal('K', 'A0')">FROM K STATION TO A0</button>
            <button onclick="openModal('K', 'Y')">FROM K STATION TO Y1-Y8</button>
            <button onclick="openModal('K', 'Q')">FROM K STATION TO Q1-Q10</button>
            <button onclick="openModal('K', 'T')">FROM K STATION TO T1-T10</button>
            <button onclick="openModal('K', 'Z')">FROM K STATION TO Z1-Z10</button>
        </div>
    </div>

    <div id="M-buttons" class="sub-buttons">
        <h3>FROM M:</h3>
        <div class="button-grid">
            <button onclick="openModal('M', 'A0')">FROM M STATION TO A0</button>
            <button onclick="openModal('M', 'R')">FROM M STATION TO R</button>
            <button onclick="openModal('M', 'X')">FROM M STATION TO X</button>
            <button onclick="openModal('M', 'Q')">FROM M STATION TO Q1-Q10</button>
            <button onclick="openModal('M', 'T')">FROM M STATION TO T1-T10</button>
            <button onclick="openModal('M', 'Z')">FROM M STATION TO Z1-Z10</button>
        </div>
    </div>

    <div id="P-buttons" class="sub-buttons">
        <h3>FROM P:</h3>
        <div class="button-grid">
            <button onclick="openModal('P', 'R')">FROM P STATION TO R</button>
            <button onclick="openModal('P', 'A0')">FROM P STATION TO J</button>
            <button onclick="openModal('P', 'X')">FROM P STATION TO X</button>
        </div>
    </div>


    <div id="P-buttons" class="sub-buttons">
        <h3>FROM P:</h3>
        <div class="button-grid">
            <button onclick="openModal('P', 'R')">FROM P STATION TO R</button>
            <button onclick="openModal('P', 'A0')">FROM P STATION TO J</button>
            <button onclick="openModal('P', 'X')">FROM P STATION TO X</button>
        </div>
    </div>


    <div id="P-buttons" class="sub-buttons">
        <h3>FROM P:</h3>
        <div class="button-grid">
            <button onclick="openModal('P', 'R')">FROM P STATION TO R</button>
            <button onclick="openModal('P', 'A0')">FROM P STATION TO J</button>
            <button onclick="openModal('P', 'X')">FROM P STATION TO X</button>
        </div>
    </div>

    <div id="0-buttons" class="sub-buttons">
        <h3>FROM 0:</h3>
        <div class="button-grid">
            <button onclick="openModal('0', 'A0')">FROM 0 STATION TO A0</button>
            <button onclick="openModal('0', 'Y')">FROM 0 STATION TO Y1-Y8</button>
            <button onclick="openModal('0', 'Q')">FROM 0 STATION TO Q1-Q10</button>
            <button onclick="openModal('0', 'T')">FROM 0 STATION TO T1-T10</button>
            <button onclick="openModal('0', 'Z')">FROM 0 STATION TO Z1-Z10</button>
        </div>
    </div>

    <div id="S-buttons" class="sub-buttons">
        <h3>FROM S:</h3>
        <div class="button-grid">
            <button onclick="openModal('S', 'J')">FROM S STATION TO J</button>
            <button onclick="openModal('S', 'X')">FROM S STATION TO X </button>
            <button onclick="openModal('S', 'Q')">FROM 0 STATION TO Q1-Q10</button>
            <button onclick="openModal('S', 'T')">FROM 0 STATION TO T1-T10</button>
            <button onclick="openModal('S', 'Z')">FROM 0 STATION TO Z1-Z10</button>
        </div>
    </div>

    <div id="N-buttons" class="sub-buttons">
        <h3>FROM N:</h3>
        <div class="button-grid">
            <button onclick="openModal('N', 'A0')">FROM N STATION TO A0</button>
            <button onclick="openModal('N', 'Y')">FROM N STATION TO Y1-Y8</button>
            <button onclick="openModal('N', 'A')">FROM N STATION TO A</button>
            <button onclick="openModal('N', 'Z')">FROM N STATION TO Z1-Z10</button>
        </div>
    </div>

    <div id="W-buttons" class="sub-buttons">
        <h3>FROM W:</h3>
        <div class="button-grid">
            <button onclick="openModal('W', 'A0')">FROM W STATION TO A0</button>
            <button onclick="openModal('W', 'Y')">FROM W STATION TO Y1-Y8</button>
            <button onclick="openModal('W', 'Q')">FROM W STATION TO Q1-Q10</button>
            <button onclick="openModal('W', 'T')">FROM W STATION TO T1-T10</button>
            <button onclick="openModal('W', 'Z')">FROM W STATION TO Z1-Z10</button>
        </div>
    </div>

    <div id="V-buttons" class="sub-buttons">
        <h3>FROM V:</h3>
        <div class="button-grid">
            <button onclick="openModal('V', 'A0')">FROM V STATION TO A0</button>
            <button onclick="openModal('V', 'Y')">FROM V STATION TO Y1-Y8</button>
            <button onclick="openModal('V', 'Q')">FROM V STATION TO Q1-Q10</button>
            <button onclick="openModal('V', 'T')">FROM V STATION TO T1-T10</button>
            <button onclick="openModal('V', 'C')">FROM V STATION TO C</button>
            <button onclick="openModal('V', 'K')">FROM V STATION TO K</button>
            <button onclick="openModal('V', 'Z')">FROM V STATION TO Z1-Z10</button>
        </div>
    </div>

    <div id="U-buttons" class="sub-buttons">
        <h3>FROM U:</h3>
        <div class="button-grid">
            <button onclick="openModal('U', 'A0')">FROM U STATION TO A0</button>
            <button onclick="openModal('U', 'Y')">FROM U STATION TO Y1-Y8</button>
            <button onclick="openModal('U', 'Q')">FROM U STATION TO Q1-Q10</button>
            <button onclick="openModal('U', 'T')">FROM U STATION TO T1-T10</button>
            <button onclick="openModal('U', 'Z')">FROM U STATION TO Z1-Z10</button>
        </div>
    </div>

    <div id="slot-modal" class="modal">
        <div class="modal-content">
            <!-- <span class="close" onclick="closeModal()">&times;</span> -->
            <form id="slot-form" method="post" action="{% url 'transfer_product' %}">
                {% csrf_token %}
                <label for="product-name-select">Product Name:</label>
                <select id="product-name-select" name="product_name" required
                    style="font-size: 16px;width: 100px;height: 30px; border-radius: 5px;border-color: #787878;">
                    <option value="AC">AC</option>
                    <option value="Fridge">Fridge</option>
                    <option value="TV">TV</option>
                    <option value="Mobile">Mobile</option>
                </select>
                <input type="hidden" id="from-warehouse-input" name="from_warehouse">
                <input type="hidden" id="to-warehouse-input" name="to_warehouse">
                <label for="slot-select">Choose Slot:</label>
                <select id="slot-select" name="slot_id" required
                    style="font-size: 16px;width: 70px;height: 30px;border-radius: 5px;border-color: #848484;">
                    <!-- Options will be added dynamically via JavaScript -->
                </select>
                <button type="submit" style="border-radius: 5px;border-color: #696969;height: 30px;">OK</button>
                <button type="button" onclick="closeModal()"
                    style="border-radius: 5px;border-color: #7c7c7c;height: 30px;">Cancel</button>
            </form>
        </div>
    </div>
</div>

<script>
    function showSubButtons(warehouse) {
        const subButtonGroups = document.querySelectorAll('.sub-buttons');
        subButtonGroups.forEach(group => group.style.display = 'none');

        document.getElementById(`${warehouse}-buttons`).style.display = 'block';
    }
    function openModal(fromWarehouse, toWarehouse) {
        document.getElementById('from-warehouse-input').value = fromWarehouse;
        document.getElementById('to-warehouse-input').value = toWarehouse;
        document.getElementById('slot-select').innerHTML = '';  // Clear previous options

        fetch(`/available_slots/${toWarehouse}/`)
            .then(response => response.json())
            .then(data => {
                const slotSelect = document.getElementById('slot-select');
                data.available_slots.forEach(slot => {
                    const option = document.createElement('option');
                    option.value = slot.id;
                    option.textContent = `Slot ${slot.id}`;
                    slotSelect.appendChild(option);
                });
                document.getElementById('slot-modal').style.display = 'block';
            });
    }
    function closeModal() {
        document.getElementById('slot-modal').style.display = 'none';
    }

    document.addEventListener('DOMContentLoaded', () => {
        showSubButtons('A');  
    });
</script>

{% endblock %}